# Eclipse
.classpath
.project
.settings/
.git/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
weligament-services/weligament-api/weligament-api-services/weligament-api-services-impl/target/
weligament-services/weligament-api/weligament-api-services/weligament-api-services-api/target/